In [53]:
import pandas as pd
import numpy as np

In [55]:
ben = pd.read_excel("ben.xlsx")

In [57]:
ben.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        30 non-null     int64
 1   customer_name      30 non-null     object
 2   email              30 non-null     object
 3   phone              30 non-null     int64
 4   city               30 non-null     object
 5   country            30 non-null     object
 6   registration_date  30 non-null     datetime64[ns]
 7   birth_date         30 non-null     datetime64[ns]
 8   gender             30 non-null     object
dtypes: datetime64[ns](2), int64(2), object(5)
memory usage: 2.2+ KB

In [61]:
ben.isnull().sum()

customer_id          0
customer_name        0
email                0
phone                0
city                 0
country              0
registration_date    0
birth_date           0
gender               0
dtype: int64

In [63]:
from datetime import datetime
today=pd.Timestamp.today().normalize()
today

Timestamp('2026-01-05 00:00:00')

In [67]:
ben['customer_Tenure']=(today-ben['registration_date']).dt.days//30

In [71]:
ben['age']=(today-ben['birth_date']).dt.days//365

In [73]:
ben['tenure_segment']=pd.cut(ben['customer_Tenure'],bins=[0,6,24,float('inf')],labels=['new','regular','loyal'])

In [75]:
ben['tenure_segment'].value_counts()

tenure_segment
loyal      18
regular     9
new         2
Name: count, dtype: int64

In [51]:
ben

,customer_id,customer_name,email,phone,city,country,registration_date,birth_date,gender,customer_Tenure,age,tenure_segment
0,1,Ayse Yıldız,Ayse@gmail.com,905578910927,İzmir,Turkey,2023-05-12,1999-02-23,Female,32,26,loyal
1,2,John Smith,Johns@yahoo.com,447392128544,London,United Kingdom,2024-01-18,1998-02-12,Male,23,27,regular
2,3,Elif Can,canElif@hotmail.com,901234526234,Ankara,Turkey,2023-12-09,1997-03-23,Female,25,28,loyal
3,4,Michael Lee,michaellee@gmail.com,495678972313,Berlin,Germany,2023-08-12,1996-10-22,Male,29,29,loyal
4,5,Bengü Ada,bengü@gmail.com,905678931130,Bursa,Turkey,2023-08-06,1995-09-23,Female,29,30,loyal
5,6,Maral Calgın,maral@hotmail.com,905982343683,İstanbul,Turkey,2024-06-11,1995-09-23,Female,19,30,regular
6,7,Petek Polat,petek@yahoo.com,902345243956,Antalya,Turkey,2020-06-23,1995-11-18,Female,67,30,loyal
7,8,Sena Dilder,senadilber@hotmail.com,902345789082,Mugla,Turkey,2021-01-01,1994-07-12,Female,61,31,loyal
8,9,Ela Sondur,elaa@gmail.com,902356894654,Adana,Turkey,2022-09-23,1993-03-23,Female,40,32,loyal
9,10,Zeynep Sürmeli,zeynepsür@gmail.com,901246764543,Afyon,Turkey,2023-07-20,1992-02-23,Female,30,33,loyal
10,11,Esra Kochan,esrakoc@hotmail.com,903456776543,Konya,Turkey,2024-08-25,1991-02-28,Female,16,34,regular
11,12,Dilara Aydın,dilaraaa@gmail.com,902456787654,Mersin,Turkey,2025-11-23,1999-12-28,Female,1,26,new
12,13,Özge Saglam,Ozge@yahoo.com,904568765432,İzmir,Turkey,2025-12-12,1999-01-01,Female,0,27,NaN
13,14,Didem Kılınç,didemmm@gmail.com,903457365252,Elezıg,Turkey,2024-12-19,2000-07-23,Female,12,25,regular
14,15,Zeynep Kosem,zeynepkosee@gmail.com,902342356787,İstanbul,Turkey,2023-12-18,1989-11-12,Female,24,36,regular
15,16,İlayda Ak,ilaydapınare@gmail.com,902343235654,Van,Turkey,2022-09-25,1988-12-28,Female,39,37,loyal
16,17,Eric Vetro,ericvetroe@gmail.com,449876543322,Birmingham,United Kingdom,2021-08-24,1997-02-15,Female,53,28,loyal
17,18,Rick Rubin,rickrubine@gmail.com,443456765432,Bristol,United Kingdom,2020-12-21,1996-02-23,Male,61,29,loyal
18,19,Megan Hilty,meganhiltye@gmail.com,442345654323,Manchester,United Kingdom,2020-06-15,1999-12-12,Female,67,26,loyal
19,20,Dylan Mulvaney,dylanmulvaneye@gmail.com,449862432322,Leicester,United Kingdom,2021-07-19,1999-09-15,Female,54,26,loyal
20,21,Tiffany Boone,tiffanyboonee@gmail.com,498764235843,Heidelberg,Germany,2022-06-21,1993-03-23,Female,43,32,loyal
21,22,Landon Barker,landonbarkere@gmail.com,499761233883,Hamburg,Germany,2023-03-23,1982-02-23,Male,33,43,loyal
22,23,Dylan Gosset,dylangossete@gmail.com,499876532345,Münih,Germany,2024-02-25,1971-02-28,Male,22,54,regular
23,24,Oscar Patel,oscarpatele@gmail.com,499876520939,Düsseldorf,Germany,2025-02-18,1989-12-28,Male,10,36,regular
24,25,Jizzie Mcguire,jizziemcguiree@gmail.com,499876548273,Frankfurt,Germany,2025-12-02,1980-01-01,Female,1,46,new
25,26,Zara Larsson,zaralarssone@gmail.com,12345670923,New York,ABD,2024-01-09,2000-07-23,Female,24,25,regular
26,27,Ryan Dubs,ryandubse@gmail.com,18652938723,San Francisco,ABD,2023-04-23,1989-11-12,Male,32,36,loyal
27,28,Larry Jakson,larryjaksone@gmail.com,11238763564,Los Anggeles,ABD,2022-01-19,1988-12-28,Male,48,37,loyal
28,29,Audrey Nuna,audreynunae@gmail.com,19871234567,Baltimore,ABD,2023-06-23,1997-02-15,Female,30,28,loyal
29,30,Paul Adelstein,pauladelsteine@gmail.com,15568761287,Austin,ABD,2024-04-04,1996-02-23,Male,21,29,regular